body{
    font-size: 20px;
} 

.container {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(10%);
}

a {
    margin-bottom: 30px;
    font-size:30px;
    float: left;
}

table {
    border-collapse: collapse;
}

table, th, td, tr {
    background-color: #000;
    color: #e6e6e6;
    padding: 5px;
    border: 1px solid;
    padding: 5px;
}